<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prácticas con Vue 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
   
    <div class="myapp">
        <h1>Bandas y canción</h1>

        <input type="text" @keyup.enter="addSaludo" v-model="saludo">
        <button @click="addSaludoPrimero()">Agregar de primero</button>

        <ul v-if="bandas.length >= 5">
            <li v-for="({banda, cancion}, index) in bandas">
                    <span>{{index + 1}}. {{banda}}</span>
                    <blockquote v-if="cancion">--{{cancion}}</blockquote>
            </li>
        </ul>

        <button @click="deleteSaludo()">Eliminar</button>
      
    </div>


    <script src="index.js"></script>

</body>
</html>
